.responsive-widget {
    display: flex;
    gap: 5px 15px;
    flex-wrap: wrap;

    background: #eaeaec5c;
    padding: 10px 20px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.responsive-widget > * {
    min-width: 150px;
    flex: 1 0 150px;
}

.responsive-widget h4 {
    white-space: nowrap;
}

input:not(:checked) ~ .responsive-widget > *:not(:first-child) {
    display: none;
}

.responsive-widget__item:not(:hover,:active,:focus) select:has(>option[value=""]:checked) {
    color: #b7b7b7;
}

.responsive-widget__item:has(option[value=""]:checked):not(:hover,:active,:focus) {
    color: #b7b7b7;
}

.responsive-widget__item:has(option[value=""]:checked) .tl_select,
.responsive-widget__item:has(option[value=""]:checked) .tl_input {
    border: 1px solid #6d6d6d;
}

.responsive-widget .tl_modulewizard .operations{
    display: none;
}

.responsive-widget .tl_modulewizard tr {
    display: flex;
    flex-direction: column;
}

.responsive-widget .tl_modulewizard input,
.responsive-widget .tl_modulewizard select{
    width: 100% !important;
}