{% extends "@Contao/mod_article.html5" %}

{% set class = class ~ " " ~ getAllContainerClasses(_context)|join(" ") %}
{% set inner_classes =
    [
        responsiveContainerSize ? "row",
        getAllInnerContainerClasses(_context)|join(" ")
    ]
%}

{% block content %}
    <div class="mod_article__inside inside {{ inner_classes|join(" ") }}">
        {{ parent() }}
    </div>
{% endblock %}