{% extends "@Contao/mod_article.html5" %}

{% set articleWrapperAttributes = attrs()
    .addClass('mod_article__wrapper')
    .addClass('wrapper')
    .addClass(getAllContainerClasses(_context))
    .mergeWith(articleWrapperAttributes|default(null))
%}
{% set inner_classes =
    [
        responsiveContainerSize ? getRowClass(),
        getAllInnerContainerClasses(_context)|join(" ")
    ]
%}
{# move the spacing to 'mod_article__main' when using a background element #}
{% if background and hasBackground(background) and not backgroundOverwrite %}
    {% set articleMainAttributes = articleMainAttributes|default(attrs())
        .set("data-spacing-top")
        .set("data-spacing-bottom")
    %}
{% else %}
    {% set articleWrapperAttributes = articleWrapperAttributes
        .set("data-spacing-top")
        .set("data-spacing-bottom")
    %}
{% endif %}

{% block content %}
    <div{{ articleWrapperAttributes }}>
        <div class="mod_article__inside inside {{ inner_classes|join(" ") }}">
            {{ parent() }}
        </div>
    </div>
{% endblock %}
