{% extends "@Contao/mod_article.html5" %}

{% set container_classes = getAllContainerClasses(_context)|join(" ") %}
{% set inner_classes =
    [
        responsiveContainerSize ? "row",
        getAllInnerContainerClasses(_context)|join(" ")
    ]
%}

{% block content %}
    <div class="mod_article__wrapper wrapper {{ container_classes }}">
        <div class="mod_article__inside inside {{ inner_classes|join(" ") }}">
            {{ parent() }}
        </div>
    </div>
{% endblock %}