{% extends "@Contao/mod_article.html5" %}

{% set container_classes = getAllContainerClasses(_context)|join(" ") %}
{% set inner_classes =
    [
        responsiveContainerSize ? getRowClass(),
        getAllInnerContainerClasses(_context)|join(" ")
    ]
%}
{% set articleWrapperAttributes = attrs() %}
{# move the spacing to 'mod_article__main' when using a background element #}
{% if background and hasBackground(background) and not backgroundOverwrite %}
    {% set articleMainAttributes = articleMainAttributes|default(attrs())
        .set("data-spacing-top")
        .set("data-spacing-bottom")
    %}
{% else %}
    {% set articleWrapperAttributes = articleWrapperAttributes
        .set("data-spacing-top")
        .set("data-spacing-bottom")
    %}
{% endif %}

{% block content %}
    <div class="mod_article__wrapper wrapper {{ container_classes }}" {{ articleWrapperAttributes }}>
        <div class="mod_article__inside inside {{ inner_classes|join(" ") }}">
            {{ parent() }}
        </div>
    </div>
{% endblock %}