{% extends "@Contao/content_element/_base.html.twig" %}

{% set baseClass = "content-#{type|replace({'_': '-'})}" %}
{% set attributes = attrs().addClass(getAllResponsiveClasses(data)) %}

{%- block inner %}
    {% if nested_fragments %}
        <div class="{{ baseClass }}__inside inside {{ getAllInnerContainerClasses(data)|join(" ") }}">{{ parent() }}</div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock -%}